<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You are adding new user</title>
</head>
<body>
{% include 'navbar.html' %}

<h2>Add New User</h2>
<form method="POST" action="/add_user">
    <label for="username">User Name:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>