{% extends "base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}



<form method="POST" action="/">
    <!-- Add CSRF token to the form -->
    {{ csrf_token() }}
    <label for="username">User Name:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Submit">
</form>
<h1>User List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>user name</th>
        <th>email</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
