<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
<div align="center">
    <br><br><br>
    <h1>Enter credentials</h1>

    <form method=post>
        <label for="username">User Name</label>
        <input type="text" id="username" name="username"><br>
        <label for="userpass">Password</label>
        <input type="password" id="userpass" name="userpass"><br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>